@import '../colors.scss';
/* NgSelect custom changes*/

ng-select {
  &.form-control-sm {
    padding: 0;
    border: none;

    .ng-select-container {
      @extend .form-control-sm;

      .ng-clear-wrapper {
        height: 17px;
      }
    }
  }

  &.form-control {
    padding: 0;
    border: none;
  }

  &.ng-select-disabled>.ng-select-container {
    background-color: $input-disabled-color !important;
  }
}

*.form-control-sm ng-select {
  padding: 0;
  border: none;

  .ng-select-container {
    @extend .form-control-sm;
  }
}

*.form-control ng-select {
  padding: 0;
  border: none;

  .ng-select-container {
    @extend .form-control;
  }
}

.ng-select.ng-select-single .ng-select-container {
  height: auto;
}


.ng-select-container {
  @extend .form-control;
  border-radius: 0 !important;

  .ng-select.ng-select-single,
  .ng-select.ng-select-multiple {
    height: 100%;
  }
}

*.form-control-sm ng-select .ng-select-container.ng-has-value {
  height: inherit;

  &>.ng-value {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  }
}

.ng-dropdown-panel {
  display: block;

  &.ng-select-bottom {
    border-radius: 0 !important;
  }
}

*.is-invalid {
  .ng-select {
    div.ng-select-container {
      border: 1px solid $main-invalid-select-border-color !important;

      &:focus {
        box-shadow: none;
      }
    }
  }

  ~.invalid-feedback {
    display: block;
  }
}

.ng-select {
  &.is-invalid {
    div.ng-select-container {
      border: 1px solid $main-invalid-select-border-color !important;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .ng-arrow-wrapper .ng-arrow {
    color: $main-brand-color;
    border: none;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;

    &::after {
      content: "\f107";
    }
  }

  &.ng-select-opened>.ng-select-container .ng-arrow {
    &::after {
      content: "\f106";
    }
  }

  .ng-select-container {
    min-height: 0;
    padding-left: 0;

    &.required {
      background: $input-required-background;
    }
  }
}

.ng-select.required>div.ng-select-container,
*.required>.ng-select>div.ng-select-container {
  background: $input-required-background;
}

.ng-value-container,
.ng-input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ng-select.ng-select-multiple {
  .ng-select-container {
    padding-bottom: 0.4rem !important;
  }

  .ng-value-icon {
    float: right !important;
    font-weight: bold;
    font-size: large;
    order: 2;

    &.left {
      border: 0;
    }

    &:hover {
      background-color: $checkbox-border-disable-color !important;
    }
  }

  .ng-value {
    border: none !important;
    display: flex;
  }

  .ng-value-label,
  .ng-value-icon {
    background-color: $disabled-text-color;
    color: $main-white-color;
    display: flex !important;
    align-items: center !important;
  }
}


//  special adapting for search fields
.search-field {
  .ng-value-container {
    padding-left: 4px !important;
  }

  .ng-select-container {
    padding: 2px 6px;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    display: none;
  }

  .ng-select span.ng-arrow-wrapper:before {
    font-size: 18px;
    color: $main-brand-color;
  }

  .ng-placeholder {
    font-weight: normal;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items {
    .ng-option:not(.ng-option-disabled) {
      padding-bottom: 0;
      padding-top: 0;
    }

    .ng-option.ng-option-disabled {
      font-weight: normal;
    }
  }

  &.loading {
    .ng-select .ng-arrow-wrapper {
      width: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}

// Mininal display that could be used as a drop-down menu
// Initially added for the configuration UI
ng-select.clear {
  >div {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
    box-shadow: none !important;
  }
}
