@import 'static-colors.scss';

.theme-wrapper.AEP {
  --main-brand-color: #{$main-red-color};
  --secondary-brand-color: #{$lighter-red-color};
  --light-brand-color: #{$lighter-red-color};
  --content-bg-brand-color: #{$lighter-grey-color};
  --hover-brand-color: #{$light-red-color};
}
