@import 'colors.scss';

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 132px;
  height: 132px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid $main-brand-color;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 62px;
    left: 62px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 128px;
    height: 128px;
    opacity: 0;
  }
}
