@import '~assets/styles/path/assets-path.scss';
$common-images-path: $images-path+'/common';
$orga-images-path: $images-path+'/orga';
/*Utils Classes*/

/* Avatars to use on img tags*/

img.avatar {
  &.minor {
    &.male {
      content: url($orga-images-path+'/1A/membership/faces/child.png');
    }

    &.female {
      content: url($orga-images-path+'/1A/membership/faces/child_girl.png');
    }
  }

  &:not(.minor) {
    &.male {
      content: url($orga-images-path+'/1A/membership/faces/male.png');
    }

    &.female {
      content: url($orga-images-path+'/1A/membership/faces/female.png');
    }
  }

  &.not_specified,
  &.unknown {
    content: url($orga-images-path+'/1A/membership/faces/unknown.png');
  }
}

/* Tier cards - grouped by program code */

img.tier-card {
  width: 100%;

  // SAGA
  &.SAG {

    &.silver,
    &.SILVER {
      content: url($orga-images-path+'/SAG/cards/silver.png');
    }

    &.gold,
    &.GOLD {
      content: url($orga-images-path+'/SAG/cards/gold.png');
    }

    &.blue,
    &.BLUE {
      content: url($orga-images-path+'/SAG/cards/blue.png');
    }
  }

  // AIR CANADA
  &.AEP {
    content: url($orga-images-path+'/AC/cards/default.png');
  }

  // VELOCITY
  &.VEL {

    content: url($orga-images-path+'/VEL/cards/default.png');


    &.silver,
    &.SILVER {
      content: url($orga-images-path+'/VEL/cards/silver.png');
    }

    &.gold,
    &.GOLD {
      content: url($orga-images-path+'/VEL/cards/gold.png');
    }

    &.red,
    &.RED {
      content: url($orga-images-path+'/VEL/cards/red.png');
    }


    &.platinum,
    &.PLATINUM {
      content: url($orga-images-path+'/VEL/cards/platinum.png');
    }


    &.club,
    &.CLUB,
    &.vip,
    &.VIP {
      content: url($orga-images-path+'/VEL/cards/club.png');
    }
  }

  // ENRICH
  &.ENR {

    content: url($orga-images-path+'/ENR/cards/default.png');

    &.silver,
    &.SILVER {
      content: url($orga-images-path+'/ENR/cards/silver.png');
    }

    &.gold,
    &.GOLD {
      content: url($orga-images-path+'/ENR/cards/gold.png');
    }

    &.blue,
    &.BLUE {
      content: url($orga-images-path+'/ENR/cards/blue.png');
    }


    &.platinum,
    &.PLATINUM {
      content: url($orga-images-path+'/ENR/cards/platinum.png');
    }
  }

}

/* Credit card images corresponding to subscriptions */

img.co-branded-card {
  width: 100%;
  content: url($orga-images-path+'/SAG/cards/default.png');

  &.amex,
  &.AMEX {
    content: url($orga-images-path+'/SAG/cards/amex.png');
  }

  &.diners_club,
  &.DINERS_CLUB {
    content: url($orga-images-path+'/SAG/cards/diners.png');
  }
}

/* Commons */

img.common.arrow-right {
  content: url($common-images-path+'/arrow.png');
}
