// default global style (because ngb migration is cool :) )
.popover {
  max-width: unset;
}

//  workaround to remove padding (now use in tooltipClass input the p-X util you want)
.popover[class*=" p-"]>.popover-body {
  padding: inherit;
}


.warningTooltip {
  .tooltip-inner {
    max-width: 300px;
    background-color: $main-blue-color;
  }

  .arrow::before {
    border-bottom-color: $main-blue-color;
  }
}

.editPersonalInfoButtonTooltip .tooltip-inner {
  width: 200px;
}

.catalogSearchTooltip .tooltip-inner {
  text-align: left;
  max-width: 600px;
}
