/** 
  BRANDING/THEMING POC:
  In order to support themes, a first study should be done to decide a first set of variables to be converted into CSS variables
  Those variables should be overriden by each program wrapper class
  In order to not impact the rest of components we use this file as middle layer to export the values of the css variables
*/
@import 'themes/static-colors.scss';

/* Global */

$main-disabled-color: $main-grey-color;

/* Buttons */

$btn-color-default: rgb(240, 240, 240);

/* Brand colors */

$main-brand-color:var(--main-brand-color);
$light-brand-color: var(--light-brand-color);
$content-bg-brand-color: var(--content-bg-brand-color);
$hover-brand-color:var(--hover-brand-color);
$secondary-brand-color: var(--secondary-brand-color);
$tertiary-brand-color: rgb(209, 18, 99);

/* Backgrounds */

$white-smoke-background-color: rgb(245, 245, 245);
$light-grey-background: rgba(241, 241, 241, 1);
$light-background-color: rgba(253, 253, 253, 1);
$middle-background-color: rgba(235, 235, 235, 1);
$strong-grey-background: rgb(228, 228, 228);
$dark-background-color: rgb(94, 94, 94);
$header-background-color: rgba(0, 94, 184, 0.658823529411765);
$main-content-background-color:$content-bg-brand-color;
$success-background-color: $light-green-color;
$warning-message-color: rgba(255, 224, 214, 1);
$light-blue-background-color: rgba(155, 202, 235, 1);
$input-disabled-color: rgba(229, 229, 229, 1);
$transparent-white-background-color: rgba(255, 255, 255, 0.5);
$success-box-background-color:rgba(209, 242, 235, 1);
$info-box-background-color:rgba(236, 249, 253, 1);
$error-box-background-color:rgba(225, 91, 76, 1);
/*---- Common element Colors ----*/

$main-blue-button-color: rgba(0, 94, 178, 1);
$date-input-select-color: rgba(2, 117, 216, 0.5);
$date-input-range-color: rgb(2, 117, 216);

// text
$main-text-color: rgb(0, 37, 71);
$main-text-light-color: rgb(150, 162, 173);
$white-text-color: rgba(255, 255, 255, 1);
$disabled-text-color: rgba(201, 201, 201, 1);
$transparent-white-text-color: rgba(255, 255, 255, 0.74);
$transparent-blue-text-color: rgba(127, 177, 221, 0.8);
$label-text-color: rgb(188, 188, 188);
// borders
$border-color: rgba(201, 201, 201, 1);
$border-color-active: rgba(120, 120, 120, 1);
$table-border-color: rgba(199, 199, 199, 1);
$box-shadow-color: rgba(0, 0, 0, 0.34);
$light-box-shadow-color: rgba(140, 172, 204, 0.35);
$error-box-shadow-color: rgba(206, 0, 88, 0.25);
$main-content-border-color: rgba(215, 215, 215, 1);
$checkbox-border-color: rgba(107, 106, 106, 1);
$radio-border-color: $border-color;
$checkbox-border-disable-color: rgba(216, 216, 216, 1);
$input-required-background: $light-yellow-color;
$main-contact-type-icon-background: rgb(228, 228, 228);
$main-invalid-select-border-color: rgb(206, 0, 88);
$success-box-border-color: $light-green-color;
$info-box-border-color:rgba(0, 169, 224, 1);
$error-box-border-color:rgba(217, 50, 31, 1);
// icon
$warning-icon: rgba(233, 83, 38, 1);

$modal-background:rgb(247, 247, 250);

//progress bars

$progress-bar-low :rgba(0, 94, 184, 0.2);
$progress-bar-medium: rgba(247, 168, 39, 0.2);
$progress-bar-high : rgba(27, 188, 156, 0.2);

//$clickable-text-color: rgb(0, 94, 184);
/* Util Classes, add as many as needed */

/* TODO import bootstrap as sass dependency and rewrite color variables instead of rewriting rules*/
.brand-it {
  color: $main-brand-color;
}

.bg-success {
  background: $success-background-color !important;
}

.bg-muted {
  background: $main-grey-color;
}

.bg-light {
  background: $light-background-color !important;
}

.bg-info {
  background: $light-brand-color !important;
}

.success {
  color: $light-green-color;
}

.muted {
  color: $main-grey-color;
}

.error {
  color: $main-red-color;
}

.light {
  color: $main-text-light-color !important;
}


/* Util class to invert colors */
.invert-color {
  filter: invert(1);
}
