@import 'colors.scss';
@import 'animations.scss';
@import 'sass-components.scss';
@import 'images.scss';
@import 'fonts.scss';
@import 'global-vars.scss';
@import 'tooltip-styles.scss';
@import 'toastr.scss';
/* Global Vars */

/* Global Vars */
// TODO move this to appropriate file
$box-shadow: 0px 0px 3px $box-shadow-color;
$border-radius: 5px;
/* Common styles */

html,
body {
  height: 100%;
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: $main-content-background-color;
  color: $main-text-color;
  /* Temporary fix : Override the one in amad bootstrap */
  line-height: inherit;

  &.no-scroll {
    overflow: hidden;
  }
}

%rounded-border-box {
  left: 0px;
  top: 0px;
  background-color: $light-background-color;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  border-radius: $border-radius;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

.content-centered {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
}

.block {
  left: 0px;
  top: 0px;
  background-color: $light-background-color;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px;
}


.value {
  color: $main-text-color;
  font-weight: normal;
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: not-allowed !important;

  &:active {
    pointer-events: none;
  }
}

a.active,
.active a,
label.active,
button.active {
  font-weight: bold;
}

.horizontal-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.fa-09x {
  font-size: 0.9em;
}

.fa-15x {
  font-size: 1.5em;
}

.fa-125x {
  font-size: 1.25em;
}

.fa-20x {
  font-size: 20em;
}

.fa-white {
  color: $light-background-color !important;
}

.main {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
}

.centered {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.main-contextual {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  flex-direction: row;
  justify-content: space-around;
  background-image: url($orga-images-path+'/SAG/header.png');
  border-width: 0px;
  left: 0px;
  top: 0px;
  height: 212px;
  background-color: $header-background-color;
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.main-status {
  &>.btn {
    color: white;
    height: 15%;
    cursor: default;
    border-color: transparent;

    &.open,
    &.active {
      background: $light-green-color;
    }

    &.inactive {
      background: $main-red-color;
    }

    &.deidentified {
      background: grey;
    }

    &.pending {
      background: $main-orange-color;
    }
  }
}

.recommendation {
  width: 232px;
  height: 146px; // border-width: 0px;
}

.no-break {
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.break-all {
  word-break: break-all;
}

.d-contents {
  display: contents;
}

/* Restyle anchors*/

a.disabled {
  /* Make the disabled links grayish*/
  color: $main-disabled-color !important;
  /* And disable the pointer events */
  pointer-events: none;
}

/* Text common rules */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SourceSansPro-Bold', 'Source Sans Pro Bold', 'Source Sans Pro';
}

/* Fix for detepicker to avoid exception being thrown */

.datepickerfix .dropdown-menu {
  left: auto !important;
}
