@import 'component-themes/ng-select.scss';
@import 'sass-components/buttons.scss';
@import 'sass-components/inputs.scss';
/* nav (bs4) */

$alt-nav-height: 60px;

.nav.main-nav {
  background-color: $main-brand-color;
  color: $light-background-color;
  padding-left: 15px;

  .nav-link {
    color: $light-background-color;
  }

  &::before,
  &::after {
    background-color: $main-brand-color;
  }

  /*alternative styling for nav*/
  &.alt {
    height: $alt-nav-height;
    background: $light-background-color;
    padding-left: 0;
    border-bottom: 0;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;

    .nav-item {
      padding: 0;
      position: relative;
      outline: none;
      display: inline-block;

      &.active {
        .nav-link {
          color: $main-brand-color;
        }

        &::after {
          content: '';
          width: 80%;
          display: block;
          margin-top: -18px;
          border-bottom: 3px solid $main-brand-color;
          position: absolute;
          bottom: 0;
          margin-right: 10%;
          margin-left: 10%;
        }
      }

      .nav-link {
        padding: 8px 48px;
        padding-bottom: 12px;
        color: $main-text-light-color;
      }
    }
  }

  .nav-link {
    padding: 8px 45px;
    color: $main-text-light-color;

    &:focus {
      outline: none;
    }
  }
}

/* Labels (bs4) */

.col-form-label {
  text-align: right;
  color: $main-text-light-color;
}

/* non bs4 */
.label {
  text-transform: uppercase;
  color: $main-text-color;
  font-weight: 300;
  text-align: right;
  font-size: 0.9rem;
}

label:not(.checkbox):not(.radio):not(.btn) {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
}

/*buttons (bs4)*/

.btn {
  font-weight: normal;
  border-radius: 4px;
}

.btn-primary {
  background: $main-brand-color;
  color: $main-white-color;
}

.btn-link {
  border: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-shadow: $main-brand-color 0px 1px 18px;
  }
}

.btn[disabled] {
  background-color: $main-disabled-color;
  color: $disabled-text-color;

  &.btn-link {
    background: transparent;
  }
}


// makes buttons groups responsive
.btn-group.justified {
  display: flex;

  .btn {
    flex: 1;
  }
}

.btn-group {
  label {
    text-transform: none;
  }
}

// EXPERIMENTAL no need to make active button with higher zindex
.btn-group>.btn.active {
  z-index: 0;
}

.btn-link.focus {
  text-decoration: none;
}

/* Anchors (bs4) */

a,
a:hover {
  text-decoration: none;
}

a.disabled {
  /* Make the disabled links grayish*/
  color: $main-disabled-color !important;
  /* And disable the pointer events */
  pointer-events: none;
}

/* Dropdowns (ngB) */

.show>.btn-outline-primary.dropdown-toggle {
  background: #005eb8 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.433071 24.803149'%3E%3Cg transform='translate(0 -1027.6)'%3E%3Cg transform='translate(-217.26 -113.67)' fill='%23fff'%3E%3Cpolygon transform='matrix(3.5435 0 0 3.5956 217.25 1141.1)' points='0.389 2.34 4.998 6.949 9.607 2.34 7.711 0.443 4.998 3.156 2.285 0.443'/%3E%3Cpath d='m244.59 1142.7c-1.8532 1.8805-1.8532 4.9296 0 6.8136 1.8462 1.8805 4.8546 1.8805 6.7078 0 1.8532-1.8804 1.8532-4.9295 0-6.8136-1.8532-1.8733-4.8617-1.8733-6.7078 0'/%3E%3Cpath d='m218.65 1142.6c-1.8532 1.8805-1.8532 4.9296 0 6.8065 1.8497 1.8804 4.8546 1.8804 6.7078 0 1.8532-1.8733 1.8532-4.9224 0-6.8065-1.8532-1.8804-4.8581-1.8804-6.7078 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 0.625rem 0.9375rem;
}

.nav-link.dropdown-toggle::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f107";
  border: 0;
  vertical-align: 0;
  font-weight: bold;
}

.dropdown-item:hover,
a.dropdown-item:not([href]):hover {
  color: $main-white-color;
}



/* Input (bs4) */

/* Border utils (bs4) (important here is justified by bootstrap using important, good job bootstrap :/ ) */

.border {
  border-color: $border-color !important;
}

.border-top {
  border-top: 1px solid $border-color;
}

.border-bottom {
  border-bottom: 1px solid $border-color !important;
}

.border-right {
  border-right: 1px solid $border-color;
}

.border-left {
  border-left: 1px solid $border-color;
}

// line separators hr utils
hr {
  &.dotted {
    border-style: dotted !important;
  }

  &.thick {
    border-width: 2px;
  }

  &.dashed {
    border-bottom: 1px solid !important;
    border-style: dashed !important;
  }
}

/* Shadow Utils (bs4)*/

.shadow-sm {
  box-shadow: 0 0 2px $box-shadow-color !important;
}

.shadow,
.shadow-md {
  box-shadow: 0 0 5px $box-shadow-color !important;
}

.shadow-lg {
  box-shadow: 0 0 10px $box-shadow-color !important;
}

.light-shadow-lg {
  box-shadow: 0 0 26px $light-box-shadow-color !important;
}

/* Containers Deprecated: let's start using BS4 containers with the content class only for background and border styling */

.page-content {
  border-width: 1px;
  border-style: solid;
  background-color: $main-content-background-color;
  border-color: $main-content-border-color;
}

.main-content {
  width: 1280px;
  border-width: 0px;
  left: 0px;
  top: 0px;
  background-color: $main-content-background-color;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: $main-content-border-color;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-bottom: 15px;

  &.full-width {
    width: auto;
  }
}

.main-content-horizontal {
  @extend .main-content;
  flex-direction: column;
}

/** Titles */
/* To show a title with a line on in it's right
  could be used with span, p , headers
*/

// use with h1 elements
.page-title {
  font-weight: lighter;
  margin-bottom: 0;
}

.line-title {
  display: block;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    top: 49%;
    width: 100%;
    margin-left: 10px;
    height: 1px;
    content: '';
    background-color: $border-color;
  }
}

.underline-title {
  display: block;
  overflow: hidden;
  position: relative;
  height: 35px;

  &:after {
    position: absolute;
    top: 30px;
    left: 5px;
    right: 50px;
    height: 1px;
    content: '';
    background-color: $border-color;
  }
}

/* Popover styles (ngbootstrap) */

.popover-header {
  background-color: $light-grey-background;
  color: $main-text-color;
  font-family: 'SourceSansPro-Regular', 'Source Sans Pro';
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.notes-popover {
  z-index: 2001;
  width: 31em;
  height: 22em;
  max-width: 500px;
  min-width: 100px;
}

/* Popover Arrow position */

.arrow {
  left: auto;
  right: 0.5em !important;
}

/* Checkbox button */

label.checkbox {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  font-size: 16px;

  input[type='checkbox'] {
    cursor: pointer;
    position: absolute;
    margin-left: -20px;
    margin-top: -2px;
    visibility: hidden;

    &:focus {
      outline: none;
      color: $muted-blue-color;
    }

    &::before {
      background-color: $light-background-color;
      margin-right: 5px;
      font-family: 'Font Awesome 5 Free';
      content: '\f0c8';
      font-size: 16px;
      vertical-align: middle;
      visibility: initial;
    }

    &:checked::before {
      content: '\f14a';
      color: $main-brand-color;
    }
  }
}

/* Radio button */

label.radio {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;

  input[type='radio'] {
    cursor: pointer;
    visibility: hidden;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0px;
      left: -1px;
      margin-left: 0px;
      border: 1px solid $radio-border-color;
      border-radius: 50%;
      background-color: $main-white-color;
      transition: border 0.15s ease-in-out;
      visibility: initial;
    }

    &:checked::before {
      border-color: $main-brand-color;
    }

    &::after {
      display: inline-block;
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      left: 2px;
      top: 3px;
      margin-left: 0px;
      border-radius: 50%;
      transform: scale(0, 0);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      visibility: initial;
    }

    &:checked::after {
      transform: scale(1, 1);
      background-color: $main-brand-color;
    }
  }
}

/* Table (bootstrap) */

// .table thead th {
//   background-color: $light-grey-background;
// }

.table {
  border: none;

  &:not(.table-striped) {
    td {
      background-color: $light-background-color;
    }
  }

  td {
    border-top: none;
  }

  // used when no items to list
  tr.no-data {
    background: transparent !important;
  }
}


.table-striped.reverse {
  th {
    background-color: $light-background-color !important;
    border-top: 0px !important;
  }

  tr:nth-child(odd) {
    background-color: $light-brand-color;
  }

  tr:nth-child(even) {
    background: $light-background-color;
  }
}

/* Common table styles */
.table-header,
.table thead {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9rem;

  th {
    background-color: transparent;
    border-top: 0;
    font-weight: normal;
    border: 0;
  }
}

.table-striped {

  .table-row:nth-child(odd),
  tbody tr:nth-child(odd) {
    background-color: $light-brand-color;
  }

  .table-row:nth-child(even),
  tbody tr:nth-child(even):not(:hover),
  tbody tr:nth-child(even):hover {
    background: $light-background-color;
  }
}

.table-row.clickable:hover,
tbody tr.clickable:hover {
  @extend .shadow;
}

/* Util for showing no item text in a list */
.list-no-item {
  text-align: center;
  font-weight: lighter;
}

/* Alternative designs for tables */

// Alt theme looks like membership search results
.table.alt {
  border: 0;
  border-collapse: separate;
  border-spacing: 0 10px;

  tbody {
    td {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      line-height: 30px;
    }

    tr {
      td:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left: 1px solid $border-color;
      }

      td:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-right: 1px solid $border-color;
      }
    }
  }

  tr.spacer {
    height: 0.5rem;
  }
}

// light theme has no borders no background
.table.light {
  border: none;

  thead {
    th {
      border: none;
      background: transparent;
    }
  }

  td {
    background: transparent;
  }
}


/* TODO: Temporary while creating a global sorting component */

.pagination {
  .page-item {
    background: transparent;

    &.disabled {
      .page-link {
        background: transparent;
      }
    }

    &.active {
      .page-link {
        background: transparent;
        color: $main-text-color;
      }
    }
  }

  .page-link {
    background: transparent;
    border: 0;
  }
}

/* Modals */

.modal-title {
  font-size: 0.85rem;
}

.modal-header,
.modal-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.modal-header .close {
  height: unset;
  width: unset;
}

/* Width & Height*/

.w-60 {
  width: 60% !important;
}

.h-30 {
  height: 30% !important;
}

.h-70 {
  height: 70% !important;
}

/* Vertical Nav (bs4) */

.nav.flex-column {
  .nav-item:not(.active) {
    .nav-link {
      color: $main-text-color;
    }
  }

  .nav-item.active {
    position: relative;

    .nav-link {
      background: $main-white-color;
    }

    &::after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -1px;
      z-index: 1;
      background: $main-white-color;
    }
  }

  .nav-link {
    padding: 20px 16px;
    border-bottom: 1px solid $border-color;
  }
}

/* For styling date input */

date-input {
  .full-width-form {
    .form-group {
      width: 100% !important;
    }

    .input-group {
      width: 100% !important;
    }

    .form-control {
      max-width: 100% !important;
    }
  }

  &.full-height-form {
    .form-control-sm {
      padding: 1.25rem 0.5rem !important;
      font-size: 1rem !important;
    }

    .btn {
      height: 100%;
    }
  }
}

/* Workaround until removing margin from date-input */

new-relation-modal {
  date-input {
    .form-group {
      margin-bottom: 0rem;
    }
  }
}

.btn-selector {
  height: 1.8rem;
}

.font-small {
  font-size: 0.88rem;
}


/* browser global */
// scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/* Carousel (bs4) */

ngb-carousel {
  outline: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  font-family: 'Font Awesome 5 Free';
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 1.5em;
}

.carousel-control-prev-icon::before {
  content: "\f104";
}

.carousel-control-next-icon::before {
  content: "\f105";
}

.first-letter-capitalize {
  text-transform: lowercase;

  &::first-letter {
    text-transform: capitalize;
  }
}

/* Virtual scrolling (angular7) */

cdk-virtual-scroll-viewport>* {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
}

.row.vs {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.vs-header>* {
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin: auto;
}

/* Range Date Picker */
date-range-input {
  ngb-datepicker {
    transform: translate(0, 0) !important;
  }
}

ngb-datepicker.dropdown-menu.show {
  right: auto !important;
}

.ngb-dp-day.disabled {
  color: $input-disabled-color;
}

.text-truncate {
  max-width: 100%;
}

$switch-width: 80px;
$switch-height: 30px;

.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: $switch-width;
  height: $switch-height;
  background-color: $main-white-color;
  border-radius: 18px;

  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked~.switch-label {
      background: $accent-orange-color;
      box-shadow: inset 0 1px 2px $box-shadow-color, inset 0 0 3px $box-shadow-color;
    }

    &:checked~.switch-label:before {
      opacity: 0;
    }

    &:checked~.switch-label:after {
      opacity: 1;
    }

    &:checked~.switch-handle {
      left: $switch-width - $switch-height;
      box-shadow: -1px 1px 5px $box-shadow-color;
    }
  }

  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      line-height: 1;
      -webkit-transition: inherit;
      -moz-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
    }

    &:before {
      content: attr(data-off);
      right: 20px;
      color: $main-grey-color;
      text-shadow: 0 1px $transparent-white-background-color;
    }

    &:after {
      content: attr(data-on);
      left: 20px;
      color: $main-white-color;
      text-shadow: 0 1px $box-shadow-color;
      opacity: 0;
    }
  }

  .switch-handle {
    position: absolute;
    top: 1px;
    left: 2px;
    width: $switch-height - 1;
    height: $switch-height - 2;
    background: $main-white-color;
    border-radius: 50%;
    box-shadow: 1px 1px 5px $box-shadow-color;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
      width: 12px;
      height: 12px;
    }
  }
}

//Progress bar
.progress {
  height: 1.5rem !important;
  border-radius: 0.8rem;
  box-shadow: none !important;
}

.progress-bar {
  color: $main-text-color !important;
  font-size: 0.8rem;
  border-radius: 0.8rem;
}

.progress-bar-low {
  background: $progress-bar-low;
  ;
}

.progress-bar-medium {
  background: $progress-bar-medium;
}

.progress-bar-high {
  background: $progress-bar-high;
}

// Modals
.modal-header {
  background: $main-white-color;
  border-bottom: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-footer {
  background: $main-white-color;
  border-top: none;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.modal-header .close {
  font-size: 3rem;
  font-weight: lighter;
  outline: none;
}


.modal-header .close:hover {
  background: none;
}

.modal-header .close:focus {
  background: none;
}
