.toast-container {
  &.toast-top-full-width>.ngx-toastr {
    width: 100%;
  }
}

.ngx-toastr {
  background-image: none;

  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: xx-large;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.toast-error::before {
  content: "\f057";
}

.toast-success::before {
  content: "\f058";
}

.toast-info::before {
  content: "\f05a";
}

.toast-warning::before {
  content: "\f071";
}

/*
 Current toast colors
 TODO: May change colors since they are not viable for the current design (the red one is too glary)
*/

.toast-error-color {
  background-color: $error-box-background-color;
}

.toast-default-color {
  background-color: $light-green-color;
}
