@import '../colors.scss';

//  we'll start splitting sass-components file by component since it's growing way too fast

/* expandable button for buttons that has a hidable text area (text should absolutely go in div.text class) */
.btn.expandable {
  .text {
    transition: all 500ms ease-in-out;
    max-width: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
  }

  &:hover {
    .text {
      max-width: 500px;
    }
  }
}

// in bootstrap 4.2 default background color got removed, more in
// https://stackoverflow.com/questions/54894511/why-does-newer-versions-of-bootstrap-not-include-a-background-color-for-the-btn
.btn.btn-default {
  background-color: $btn-color-default;
}

.btn-link {
  background-color: inherit;
}

.dropdown-menu {

  .btn-link:hover,
  .btn-link:focus {
    background-color: $main-brand-color;
  }
}
