@import 'static-colors.scss';

:root {
  --main-brand-color: #{$strong-blue-color};
  --secondary-brand-color: #{$main-blue-color};
  --light-brand-color: #{$light-blue-color};
  --content-bg-brand-color: #{$lighter-blue-color};
  --hover-brand-color: #{$main-blue-color};
}
