/* Base colors defs*/
$strong-blue-color: rgb(0, 94, 184);
$main-blue-color: rgb(22, 155, 213);
$second-blue-color: rgb(0, 169, 224);
$muted-blue-color: rgb(201, 225, 248);
$light-blue-color: rgb(243, 249, 255);
$dark-blue-color: rgb(0, 58, 125);
$lighter-blue-color: rgb(233, 244, 255);
$main-green-color: rgb(0, 163, 78);
$light-green-color: rgb(27, 188, 156);
$transparent-green-color: rgba(27, 188, 156, 0.2);
$main-red-color: rgb(217, 50, 31);
$light-red-color: lighten($main-red-color, 20%);
$lighter-red-color: lighten($main-red-color, 49%);
$main-orange-color: rgb(221, 175, 90);
$accent-orange-color: rgb(233, 83, 38);
$transparent-orange-color: rgba(255, 102, 51, 0.2);
$light-yellow-color: rgb(255, 255, 204);
$main-white-color: rgb(255, 255, 255);
$main-grey-color: rgb(128, 128, 128);
$light-grey-color: rgb(213, 213, 213);
$lighter-grey-color: rgb(247, 247, 247);
