// Scoped CSS variables are imported and consolidated here
@import 'default-theme.scss', 'ac-theme.scss';

/* Color theming of all elements should be done here 
    Allows to use CSS variables for theming elements
    FYI: Overriding bootstrap sass variables could only be done with hardcoded colors
*/
/*
    Buttons
*/
a,
.btn-link {
  color: $main-brand-color;

  &:hover {
    color: $hover-brand-color;

    &:active {
      color: $main-brand-color;
    }
  }
}

.btn-primary {
  border-color: $main-brand-color;
}

.btn-outline-primary.dropdown-toggle:not([disabled]):not(.disabled) {

  &:active,
  &:active:hover {
    background-color: $main-brand-color;
  }
}

.btn-outline-primary,
.btn-secondary {
  color: $main-brand-color;
  border-color: $main-brand-color;
  background-color: $main-white-color;

  &:hover,
  &:active,
  &:active:hover {
    &:not([disabled]):not(.disabled) {
      background-color: $main-brand-color;
      border-color: $main-brand-color;
      color: $main-white-color;
    }
  }
}

.dropdown-toggle::after {
  color: $main-brand-color;
}

/*
    Badges
*/
.badge {
  &.badge-secondary {
    color: $main-brand-color;
  }
}

/*
    Dropdown
*/
.dropdown-item:hover {
  background: $main-brand-color;

  &:active {
    color: $main-white-color;
  }
}
