@import '../colors.scss';

@mixin required-input {
  background: $input-required-background;
}

.form-control.required:not(:disabled) {
  @include required-input;
}

.required {
  .form-control:not(:disabled) {
    @include required-input;
  }

  label::after {
    content: ' *';
  }
}

.form-control-sm {
  border-radius: 0;
}

loy-select.form-control-sm {
  padding: 0;
}

// inputs with uppercase style should not impact placeholder display
input.text-uppercase::placeholder {
  text-transform: initial !important;
}

// adds invalid styles ( useful for subcomponents with invalid parent)
.is-invalid {

  input,
  .form-control:focus {
    border-color: $main-invalid-select-border-color;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem $error-box-shadow-color;
  }

  .input-group-append {
    border-color: $main-invalid-select-border-color;

    button {
      border-color: inherit;
      color: $main-invalid-select-border-color;

      &:hover,
      &:focus,
      &:active {
        border-color: inherit;
        background-color: $main-invalid-select-border-color;
        color: $white-text-color;
      }
    }
  }
}

select {
  box-shadow: none;
  border-radius: 0;
}

input {
  box-shadow: none;
}
